form {
  text-align: center;
  margin: 3rem 0 2rem;
}

input {
  border-radius: .2rem;
  outline: none;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
  padding: .4rem;
}

input[type=text] {
  height: 3rem;
  width: 40rem;
  margin: 0 1rem;
}

input[type=submit] {
  cursor: pointer;
  border-radius: 0;
  padding: .5rem 1.5rem;
  background-color: #ee1515;
  color: #f0f0f0;
  text-transform: uppercase;
  transition: all .22s;
}

input[type=submit]:hover{
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  filter: brightness(130%);
}
